{
  "global": {
    "aligned_path": "./data/aligned",
    "predictor_path": "./data/shape_predictor_68_face_landmarks.dat",
    "filtered_files": "./data/filtered.txt",
    "aligned_extension": "jpg"
  },
  "align": {
    "input_glob": "./data/input/*.jpg",
    "img_thresh": 0.0
  },
  "framedrop": {
    "erode_amount": 51,
    "frame_skip": 3
  }
}